
<!-- <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon" (OnAdd)="Adding()"></app-page-title> -->
<app-left-toolbox-form (OnAdding)="Adding()" (OnPrint)="PrintContent()"></app-left-toolbox-form>


<app-despesas-list (OnEdit)="Edit($event)" #dataList></app-despesas-list>



<!-- TABMODELO -->
<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs tabs-animated tabs-animated-shadow">    
  <li ngbNavItem>
    <a ngbNavLink><span>CATEGORIAS</span></a>
    <ng-template ngbNavContent>        
      
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->

<app-despesas-modal #dataForm (OnSave)="Save($event)"></app-despesas-modal>