<div class="row">

  <form [formGroup]="form" (submit)="save()" *ngIf="form!=null">
    <div class="col-md-12" style="float: left;">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <!-- CODIGO BARRAS -->
          <div class="position-relative mb-3">
            <label for="sleNome" class="form-label">Código de Barras:</label>
            <input name="nome" id="sleNome" placeholder="Código de barras" type="text" class="form-control"
              formControlName="codigoBarras" required>

            <label *ngIf="form.get('nome')?.errors?.['required'] &&  submitted==true" class="error-input">
              Campo obrigatório!
            </label>
          </div>



        </div>
      </div>
    </div>

  </form>

</div>