<div class="row">

  <div class="card-hover-shadow-2x mb-3 card">
    <div class="card-header">{{title}}

    </div>
    <div class="card-body">            
      

  <form [formGroup]="form" (submit)="save()" *ngIf="form!=null">
    <div class="col-md-6" style="float: left;">
      <div class="main-card mb-3 card">
        <div class="card-body">
          <!-- NOME -->
          <div class="position-relative mb-3">
            <label for="sleNome" class="form-label">Descrição:</label>
            <input name="nome" id="sleNome" placeholder="Nome do sistema financeiro" type="text" class="form-control"
              formControlName="nome" required>

            <label *ngIf="form.get('nome')?.errors?.['required'] &&  submitted==true" class="error-input">
              Campo obrigatório!
            </label>
          </div>

          <!-- ANO -->
          <div class="position-relative mb-3">
            <label for="sleAno" class="form-label">Ano:</label>
            <input name="ano" id="sleAno" placeholder="Ano" type="number" class="form-control" formControlName="ano"
              required>

            <label *ngIf="form.get('ano')?.errors?.['required'] &&   submitted==true" class="error-input">
              Campo obrigatório!
            </label>
          </div>

          <!-- MES -->
          <div class="position-relative mb-3">
            <label for="sleMes" class="form-label">Mês:</label>
            <select name="mes" id="sleMes" class="form-select" formControlName="mes">
              <option *ngFor="let l of meses" value="{{l.id}}">{{l.name}}</option>
            </select>
          </div>


          <!-- DIA FECHAMENTTO -->
          <div class="position-relative mb-3">
            <label for="sleAno" class="form-label">Dia Fechamento:</label>
            <input name="ano" id="sleDiaFechamento" placeholder="Dia de fechamento" type="number" min="1" max="31"
              class="form-control" formControlName="diaFechamento" required>

            <label *ngIf="form.get('diaFechamento')?.errors?.['required'] &&   submitted==true" class="error-input">
              Campo obrigatório!
            </label>
          </div>




        </div>
      </div>
    </div>

    <div class="col-md-6" style="float: left;">
      <div class="main-card mb-3 card" style="margin-left: 12px;">
        <div class="card-body">


          <!-- gerarCopiaDespesa -->
          <div class="position-relative form-check">
            <label class="form-label form-check-label">
              <input type="checkbox" class="form-check-input" formControName="gerarCopiaDespesa">
              Gerar cópia de despesa
            </label>
          </div>

          <!-- ANO COPIA-->
          <div class="position-relative mb-3">
            <label for="sleAnoCopia" class="form-label">Ano Cópia:</label>
            <input name="ano" id="sleAnoCopia" placeholder="AnoCopia" type="number" class="form-control" formControlName="anoCopia"
              required>

            <label *ngIf="form.get('ano')?.errors?.['required'] &&   submitted==true" class="error-input">
              Campo obrigatório!
            </label>
          </div>

          <!-- MES COPIA-->
          <div class="position-relative mb-3">
            <label for="sleMesCopia" class="form-label">Mês Cópia:</label>
            <select name="mesCopia" id="sleMesCopia" class="form-select" formControlName="mesCopia">
              <option *ngFor="let l of meses" value="{{l.id}}">{{l.name}}</option>
            </select>
          </div>

        </div>
      </div>
    </div>
  </form>

    </div>


    <div class="d-block text-end card-footer">
        <button class="me-2 btn btn-link btn-sm" (click)="Back()">Cancelar</button>
        <button class="btn-shadow-primary btn btn-primary btn-lg" (click)="Save()">Salvar</button>
     </div>
   </div>
</div>
