
<ng-template  #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')">
    </button>
  </div>
  
  <div class="modal-body" id="elaine">


    <app-categoria-form   #form  (init)="initForm($event)" ></app-categoria-form>



  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Fechar</button>
    <button type="button" class="btn btn-primary"  (click)="save()" role="submitter"  >Salvar</button>
  </div>  
  </ng-template>
  