<div class="h-100">
  <div class="row h-100 g-0">
    <div class="h-100 d-md-flex d-sm-block bg-white justify-content-center align-items-center col-md-12 col-lg-7">
      <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
        <div class="app-logo"></div>
        <h4>
          <div>Olá,</div>
          <span>Isso vai levar <span class="text-success">apenas alguns segundos</span></span>
        </h4>
        <div>
          <form [formGroup]="myForm">
            <div class="row">
              <div class="col-md-6">
                <fieldset class="mb-3" id="__BVID__132">
                  <div tabindex="-1" role="group"><label for="exampleEmail" class="form-label"><span class="text-danger">*</span>
                      Email
                    </label><input id="exampleEmail" name="email" type="email" placeholder="Digite seu e-mail"
                      class="form-control" formControlName="email" required></div>
                </fieldset>
                <div *ngIf="myForm.get('email')?.errors?.['required']">Campo e-mail é obrigatório</div>
              </div>
              <div class="col-md-6">
                <fieldset class="mb-3" id="__BVID__134">
                  <div tabindex="-1" role="group"><label for="exampleName" class="form-label">CPF</label><input id="exampleName"
                      name="text" type="text" placeholder="Informe seu cpf" formControlName="cpf" class="form-control" required>
                  </div>
                </fieldset>
                
                <div *ngIf="myForm.get('cpf')?.errors?.['invalid']"> 
                  O cpf não é válido.
                </div>

              </div>
              <div class="col-md-6">
                <fieldset class="mb-3" id="__BVID__136">
                  <div tabindex="-1" role="group"><label for="examplePassword" class="form-label"><span class="text-danger">*</span>
                      Senha
                    </label><input id="examplePassword" name="password" type="password" placeholder="Informe uma senha"
                      class="form-control" formControlName="senha" required></div>
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset class="mb-3" id="__BVID__138">
                  <div tabindex="-1" role="group"><label for="examplePasswordRep" class="form-label"><span class="text-danger">*</span>
                      Confirmar senha
                    </label><input id="examplePasswordRep" name="passwordrep" type="password"
                      placeholder="Digite a senha novamente" class="form-control" formControlName="confirmPassword" required></div>
                </fieldset>


                <div *ngIf="f.confirmPassword.touched && f.confirmPassword.invalid" class="alert alert-danger">
                  <div *ngIf="f.confirmPassword.errors.required">Senha é obrigatória</div>
                  <div *ngIf="f.confirmPassword.errors.confirmedValidator">Os dois campos de senha precisam ser iguais</div>
              </div>

                <!-- <label *ngIf="validPass()==false" class="error-input">
                  Erro de campo!
                </label>
                       -->
                              

              </div>
            </div>
            <!-- <div class="custom-control custom-checkbox form-check">
              <input id="exampleCheck" type="checkbox" name="check" autocomplete="off" class="form-check-input" value="true">
              <label for="exampleCheck" class="form-label form-check-label">
                Accept our <a [routerLink]="">Terms and Conditions</a>.
              </label>
            </div> -->
            <div class="mt-4 d-flex align-items-center">
              <h5 class="mb-0">
                Ja tem um cadastro?
                <a routerLink="/pages/login" class="text-primary">Voltar ao login</a></h5>
              <div class="ms-auto">
                <button type="button" (click)="Save()"
                  class="btn btn-wide btn-pill btn-shadow btn-hover-shine btn-secondary btn-lg">CRIAR CONTA
                </button>
              </div>
             
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="d-lg-flex d-xs-none col-lg-5">
      <div class="slider-light">
        <ngx-slick-carousel class="slick-slider slick-dotted" #slickModal="slick-carousel" [config]="slideConfig2">
          <div ngxSlickItem>
            <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate">
              <div class="slider-content text-light">
                <h3>Perfect Balance</h3>
                <p>
                  ArchitectUI is like a dream. Some think it's too good to be true! Extensive collection of
                  unified Vue Bootstrap Components and Elements.
                </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>