<div class="btn-group" ngbDropdown >
    <button type="button" ngbDropdownToggle class="mb-2 me-2 btn btn-primary">Jurídica</button>
    <div ngbDropdownMenu class="dropdown-menu-lg">
      <div class="dropdown-menu-header">
        <div class="dropdown-menu-header-inner bg-primary">
          <div class="menu-header-image" style="background-image: url('./assets/images/dropdown-header/abstract1.jpg');"></div>
          <div class="menu-header-content"><h5 class="menu-header-title">{{item.nome}}</h5><h6 class="menu-header-subtitle"> Pessoa Jurídica</h6></div>
        </div>
      </div>
      <ul class="nav flex-column">
        <li class="nav-item-header nav-item">DADOS DO CNPJ</li>
        
        <li class="nav-item">
          <a [routerLink]="" class="nav-link">CNPJ
            <div class="ms-auto badge rounded-pill bg-info">{{item.pessoaJuridica.cnpj}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link">Fantasia
            <div class="ms-auto badge rounded-pill bg-info">{{item.pessoaJuridica.fantasia}}</div>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="" class="nav-link">Inscrição Estadual
            <div class="ms-auto badge rounded-pill bg-info">{{item.pessoaJuridica.inscricaoEstadual}}</div>
          </a>
        </li>                  
        <li class="nav-item">
            <a [routerLink]="" class="nav-link">Inscrição Municipal
              <div class="ms-auto badge rounded-pill bg-info">{{item.pessoaJuridica.inscricaoMunicipal}}</div>
            </a>
          </li>                  
  
        <li class="nav-item-divider nav-item"></li>
        <li class="nav-item-btn nav-item">
          <button class="btn-wide btn-shadow btn btn-danger btn-sm">Mais detalhes...</button>
        </li>
      </ul>
    </div>
  </div>